.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }

  .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }