.cl_div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 180px;
  margin-top: 20px;
}

.cl_img {
  padding: 7px;
  margin-top: 10px;
  width: 280px;
  height: 200px;
  object-fit: contain;
  background-color: white;
  border-radius: 10%;
}

.cl_title {
  font-size: 21px;
  font-weight: 600;
  margin: 0 13px;
  margin-top: 7px;
}

