.contest_url {
  text-decoration: none;
  color: black;
}

.main {
  width: 100%;
  height: fit-content;

  background: #f8f8f8;

  justify-content: center;
  display: flex;
  align-items: center;
}

.contents {
  width: 100%;
  display: flex;
  float: left;
  justify-content: space-between;
}

.centerdiv {
  padding: 2rem 0;
}

.sector {
  padding-bottom: 1rem;
}

.info_list {
  list-style: none;
  font-size: 15px;
  line-height: 30px;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;
  height: 30px;
  background: #ff9887;
  border-radius: 10px;

  padding: 0.5rem 1rem;
  text-decoration: none;

  font-size: 13px;
  color: white;
}

.proj {
  width: 100%;
  height: fit-content;

  background: #f8f8f8;

  justify-content: center;
  display: flex;
  align-items: center;

  padding-bottom: 2rem;
}

.sub {
  padding: 2rem 0;
}

.bar {
  margin-left: 10rem;
  margin-right: 10rem;
  display: flex;
  justify-content: center;
  padding-right: 2rem;
}

.contest_info {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  width: 400px;

  text-align: center;
  letter-spacing: -0.02em;

  color: #0a0a0a;
  padding-bottom: 0.5rem;
  padding-right: 0.3rem;

  border-bottom: #ff9887 2px solid;
  text-decoration: none;

  background-color: white;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;

  cursor: pointer;
}

.other_contest {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  width: 400px;

  text-align: center;
  letter-spacing: -0.02em;

  color: #0a0a0a;

  padding-bottom: 0.5rem;

  border-bottom: #ff9887 2px solid;
  text-decoration: none;

  background-color: white;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;

  cursor: pointer;
}

.garbage {
  padding-bottom: 20rem;
}

.ContestInfo_div {
  font-style: normal;
  font-size: 10px;
  line-height: 30px;

  color: #000000;
}

.oc_div img {
  width: 500px;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  border: #ff9887 solid 1px;
}

.projectContents {
  width: 310px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #c0c0c0 solid;
}

.intro2 {
  display: table-cell;
  vertical-align: middle;
  width: 70%;
  align-items: center;
  justify-content: center;
  padding: 1rem 20rem;
}

.intro2 div {
  align-items: center;
}

.oc_div {
  display: flex;
  justify-content: space-around;
}

.oc_div img {
  border: #000000 1px solid;
}

.bottom_margine {
  padding-bottom: 2rem;
}

.intro2 p {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
}

.vertical_padding {
  padding-right: 2rem;
}
