.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 1rem;
}

.app__navbar-logo img {
  width: 128px;
}

.app__navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

.app__navbar-links li {
  margin: 0 1rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;

  color: gray;
}

.app__navbar-links a:hover {
  color: gray;
}

.app__navbar-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.app__navbar-login a {
  margin-right: 1rem;
  text-decoration: none;
  font-size: 15px;
}

.app__navbar-login a:hover {
  color: gray;
}

.app__navbar-box {
  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;
  height: 40px;
  background: #ff9887;
  border-radius: 10px;

  padding: 0.5rem 1rem;
}

.app__navbar-project a {
  font-size: 13px;
  color: white;
  align-items: center;
  justify-content: center;
}

.p__opensans {
  font: var(--font-alt);
  color: black;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}

.p__opensans a {
  color: black;
  text-decoration: none;
}
